body {
    font-family: sans-serif;
}

.box {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 1rem;
    border: 2px solid white;
    height: 100%;
}

.box-green {
    background-color: green;
    color: white;
    text-align: center;
    padding: 1rem;
    border: 2px solid blue;
    height: 100%;
}

#first-section {
    margin: 2rem 0;
}

#second-section,
#third-section {
    margin-bottom: 2rem;
}